.registerContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-color); */
    margin: 20px;
  }
  
  .registerContent {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .registerContent h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .registerForm {
    display: flex;
    flex-direction: column;
  }
  
  .registerForm input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .registerForm button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .backLoginBtn {
    margin-top: 1rem;
    background: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  